.password-input-field-container .input-container {
  display: flex;
  justify-content: center;
  padding: 6px;
  background-color: #f9f9f9;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.password-input-field-container .input-container .password-form-control {
  width: 100%;
  max-width: 350px;
}

.password-input-field-container .icon {
  color: #3f51b5;
}