.username-input-field-container {
  margin-bottom: 16px;
}

.username-input-field-container .input-container {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: #f9f9f9;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
}

.username-input-field-container .icon {
  color: #3f51b5;
  margin-right: 10px;
  font-size: 1.6rem;
}

.username-input-field-container .text-field {
  width: 100%;
}
