body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    background-image: url('../../commons/assets/images/background-devices-temperature.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #root {
    width: 100%;
    height: 100%;
    /* height: 500px; */
    margin: 0 auto;
  }

.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.button-group .MuiButton-root {
    flex: 1;
    background-color: #3f51b5;
    color: #ffffff;
    text-transform: none;
    padding: 10px 0;
}

.button-group .MuiButton-root:hover {
    background-color: #303f9f;
}

h2 {
    margin-bottom: 24px;
    color: #333333;
    font-size: 24px;
    font-weight: 600;
}