.html {
    height: 100%;
}

.administrator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.management-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 45px;
}

.management-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    height: 100%;
    overflow-y: auto; 
}

.management-section h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.user-management, .device-management {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.list-container {
    margin-top: 20px;
}

button, .MuiButton-root {
    text-transform: none;
    font-size: 1em;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.MuiTextField-root, .MuiSelect-root {
    width: 100%;
}

.MuiOutlinedInput-root {
    background-color: #fff;
}
